@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #edf1fc;
  --foreground: #32373d;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #212529;
    --foreground: #edf1fc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .main-container {
    @apply container mx-auto max-w-[50rem] flex min-h-[95vh] flex-col items-center p-6 lg:p-12;
  }
  .form-input {
    @apply appearance-none w-full rounded-2xl border outline-none border-slate py-2 px-4 bg-white border-dark/30  hover:border-blue/50 active:border-blue/50;
  }
  .items-middle {
    @apply justify-center items-center;
  }
}
